@import "variables";
@import "mixin";
@import "normalize";

@font-face {
  font-family: MyriadPro;
  src: url('../fonts/MyriadPro-Black.eot');
  src: url('../fonts/MyriadPro-Black.ttf') format('ttf'),
  url("../fonts/MyriadPro-Black.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

//Global styles for whole document
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.05em;
}
h1, h2, h3, h4, h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
}
ul {
  list-style: none;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: white;
}
p {
  font-size: 14px;
  max-width: 465px;
  margin: 0 auto;
}

body {
  background-color: white;
}

.maincontainer {
  max-width: 1175px;
  margin: 0 auto;
}

//Slickslider styling

/* Dots */
.slick-dotted.slick-slider
{
  margin-bottom: 30px;
}

.slick-dots
{
  position: absolute;
  bottom: -60px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li
{
  position: relative;

  display: inline-block;

  width: 10px;
  height: 10px;
  margin: 60px 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button
{
  font-size: 0;
  line-height: 0;

  display: block;

  width: 10px;
  height: 10px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
  outline: none;
}
.slick-dots li button:hover:before
//.slick-dots li button:focus:before
{
  transition: 0.3s;
  transform: scale(1.2);
  opacity: 1;
}
.slick-dots li button:before
{
  font-size: 20px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 8px;
  height: 8px;
  border: 1px solid $greencolor;
  border-radius: 50%;

  content: ' ';
  text-align: center;

  opacity: .75;
  color: white;
  background-color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
  background-color: $greencolor;
  opacity: .95;
  color: $greencolor;
}


//Section header and its styles
header {
  background: #735d4a url("../img/bg2.jpg") no-repeat center;
  background-size: cover;
  color: white;
  text-align: center;
  .maincontainer {
    max-width: 1365px;
    padding: 55px 95px 75px;
    .navmenu {
      display: flex;
      justify-content: space-between;
      margin-bottom: 210px;
      h1 {
        font-family: 'MyriadPro', sans-serif;
        font-weight: 900;
        font-size: 27px;
        letter-spacing: 0.05rem;
        text-align: left;
      }
      ul {
        font-size: 0;

        li {
          display: inline-block;
          padding: 0 10px;
          border: 1px solid transparent;
          border-radius: 15px;
          font-size: 16px;
          line-height: 30px;

          &:hover {
            border: 1px solid white;
            transition: 0.7s;
            transform: scale(1.15);
          }
        }
      }
    }
    h2 {
      padding-bottom: 30px;
      font-size: 35px;
      font-weight: 300;
      letter-spacing: 0.2em;
    }
    p {
      font-size: 16px;
      margin-bottom: 220px;
      max-width: 620px;
    }
    .downlink {

      a {
        display: inline-block;
        position: relative;
        width: 35px;
        height: 35px;
        border: 1px solid transparent;
        border-radius: 50%;
        background-color: $greencolor;

        &:hover {
          transition: 0.5s;
          transform: scale(1.2);
        }

        img {
          display: block;
          position: absolute;
          top: 15px;
          left: 11px;
        }
      }
    }
  }
}

//Section portfolion and its styles, used Isotope
.portfolio {
  text-align: center;
  background-color: #f3f3f3;
  .maincontainer {
    max-width: 1195px;
    padding: 85px 30px 90px;

    h2 {
      font-size: 20px;
      letter-spacing: 0.2em;
      margin-bottom: 30px;
    }

    p {
      color: #afb2b6;
      margin-bottom: 70px;
    }

    .filter {
      text-align: center;
      margin-bottom: 60px;

      button {
        display: inline-block;
        font-size: 14px;
        margin-right: 30px;
        line-height: 45px;
        border: none;
        border-bottom: 2px solid transparent;
        background-color: $greytextcolor;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          border-bottom: 2px solid $greencolor;
          cursor: pointer;
        }

        &:focus {
          outline: none;
        }
      }
    }

    ul {
      text-align: center;
      margin-bottom: 60px;

      li {
        display: inline-block;
        font-size: 14px;
        margin-right: 30px;
        line-height: 45px;
        border-bottom: 2px solid transparent;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          border-bottom: 2px solid $greencolor;
          cursor: pointer;
        }
      }
    }

    .isotope {
      max-width: 1195px;
      padding-left: 10px;

      .isotope_item {
        margin-bottom: 10px;
        margin-right: 10px;

        img {
          display: block;
          max-width: 100%;
        }
      }
    }
  }
}

//Section Team with slider
.team {
  padding: 75px 0 120px;
  text-align: center;

  .maincontainer {
    max-width: 1030px;

    h2 {
      font-size: 20px;
      letter-spacing: 0.2rem;
      margin-bottom: 30px;
    }

    p {
      color: #afb2b6;
      margin-bottom: 65px;
    }

    .slickholder {

      .slick-dots {
        position: absolute;
        bottom: -120px;}

      .flexholder {
        display: flex;
        justify-content: space-between;

        .rightpart {
          //max-width: 498px;
          padding-right: 5px;
          text-align: right;

          .greenline {
            border-right: 5px solid $greencolor;
            padding-right: 43px;
          }

          h3 {
            margin: 25px 0 5px;
            font-family: 'Open Sans', sans-serif;
            font-size: 22px;
            text-transform: none;
            letter-spacing: 0.03em;
          }

          h4 {
            text-transform: uppercase;
            font-style: italic;
            font-size: 14px;
            letter-spacing: 0.1rem;
            margin-bottom: 30px;
          }

          p {
            max-width: 438px;
            padding-right: 48px;
            color: $greytextcolorsecond;
            line-height: 24px;
          }
        }
      }
    }
  }
}

//Section Loved Us
.lovedus {
  background: #000000 url("../img/bg3.jpg") no-repeat center;
  background-size: cover;
  padding: 50px 0 60px;
  text-align: center;
  color: white;

  h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 0.05em;
    text-transform: none;
    margin-bottom: 30px;
  }

  a {
    display: inline-block;
    padding: 0 30px;
    font-size: 16px;
    line-height: 30px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: transparent;

    &:hover {
      transition: 0.5s;
      transform: scale(1.2);
    }
  }
}

//Section Testemonials with slider

.testemonials {
  background-color: $greytextcolor;
  text-align: center;
  .maincontainer {
    padding: 75px 0 100px;

    h2 {
      font-size: 20px;
      letter-spacing: 0.2rem;
      margin-bottom: 35px;
    }

    p {
      margin: 0 auto 60px;
      color: $greytextcolorsecond;
    }

    .slick-dotted.slick-slider
    {
      margin-bottom: 0;
    }

    .slick-dots
    {
      position: absolute;
      bottom: -20px;}

    .flexholder {
      max-width: 1175px;
      display: flex;
      justify-content: space-around;
      padding-bottom: 115px;
      background-color: white;

      .leftpart {
        width: 20%;
        padding-top: 50px;
        margin-left: 20px;

        img {
          border-radius: 50%;
        }
      }

      .rightpart {
        width: 80%;
        max-width: 755px;
        //margin-left: -100px;
        margin-right: 100px;

        padding: 60px 0 0;
        text-align: left;

        p {
          max-width: 765px;
          font-size: 16px;
          line-height: 26px;
          color: $greytextcolorsecond;
          margin: 0 0 20px;
        }

        h3 {
          font-family: 'Open Sans', sans-serif;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 0.1em;
          color: $greencolor;
          //margin-bottom: 12px;
        }

        h4 {
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          letter-spacing: 0.04rem;

        }
      }
    }
  }
}

//Section Contact with map

.contact {
  padding-top: 75px;
  text-align: center;

  h2 {
    font-size: 20px;
    letter-spacing: 0.2rem;
    margin-bottom: 35px;
    color: #333b46;
  }

  p {
    margin: 0 auto 70px;
    color: $greytextcolorsecond;
  }

  #map {
    height: 440px;
  }
}

//Footer with fawicons

footer {
  text-align: center;
  padding: 70px 0 70px;

  h2 {
    font-family: 'MyriadPro', sans-serif;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 0.1em;
    color: #323a45;
    margin-bottom: 15px;
  }

  p {
    color: $greytextcolorsecond;
    margin-bottom: 35px;
  }

  a {
    display: inline-block;
    width: 27px;
    line-height: 27px;
    border: 1px solid transparent;
    border-radius: 50%;
    font-size: 14px;
    margin-right: 5px;

    &:nth-child(1){
      background-color: #3b5998;
    }
    &:nth-child(2){
      background-color: #26a6d1;
    }
    &:nth-child(3){
      background-color: #0e76a8;
    }
    &:nth-child(4){
      background-color: #3f729b;
    }
    &:nth-child(5){
      background-color: #86c9ef;
      margin-right: 0;
    }

    &:hover {
      box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
      transition: 0.5s;
      transform: scale(1.3);
    }
  }



}


